body {
  transition: background-color 300ms;
}

.full-width {
  width: 100%;
}

.buffer-top {
  margin-top: 15px;
}

.navbar-toggle .icon-bar {
  background-color: dodgerblue;
}

.navbar-toggle {
  display: block;
}

#menu {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s;
  transform: translateY(-60px);
}

header.shown {
  transform: translateY(0);
}

.fixed-box {
  position: fixed;
  top: 20px;
  left: 100px;
  width: 200px;
  height: 50px;
  background: #eee;
  padding: 10px;
  transition: 300ms;
}
.fixed-box.active {
  background: #ccc;
}
